{{!< default}}
<div id="about-showcase">
</div>

<section id="about" class="section">
  <div class="container">
    <h2>Tony O’Brien</h2>
  <h3>D.O., M.O.C.I., M.A.O.I., M.I.C.O.</h3>
   <br>
   <br>
   <p class="lead">
  Having graduated from the Irish College of Classical Osteopathy in 2003 I have worked at The Littlejohn Centre  in Dublin.
  <br>
  <br>
  <img src="/images/tony_image.jpg" alt="" class="hidden-xs">
  I have had my own private practice at the clinic but I have also worked as part of the Family and Children's clinic there. This experience working with children and families within a team scenario and on a one-to-one basis has been invaluable. I have a clinic at Energie Fitness (formerly Jackie Skelly Fitness),Swords in North County Dublin on Friday's. My practice is not based purely around families and children. Treatments cover all ages and most aspects of injuries and health maintenance. Many people can benefit from osteopathic treatment to optimise their health: children, manual workers, office workers, elite athletes and of course the infirm or aged.
  <br>
  <br>
  Since graduating  I have continued to study with the Institute of Classical Osteopathy at Maidstone and with the British School of Osteopathy  in London. I have tutored on the fiive-day course at the British School of Osteopathy which trains qualified osteopaths in the concept of osteopathy in the cranial field (cranial osteopathy).
  <br>
  <br>
  I am a founder member of the Association of Osteopaths in Ireland (A.O.I.) and the Osteopathic Council of Ireland (O.C.I.), and am a keen supporter of the regulation and registration of osteopaths in Ireland and Europe. I believe that it is only through regulation and registration of the profession, that the patient and the practitioner can have a safe environment in which to work.
  <br>
  <br>
  As a member of the O.C.I., your treatment with me may be covered by your health insurance company, depending on your health plan.
</p>
  </div>
</section>
