{{!< default}}
<!-- Showcase -->
<div id="showcase">
      <div class="section-main container">
        <h1 class="showcase-head">TONY O'BRIEN OSTEOPATHY</h1>
        <h2>Hands On Diagnosis And Treatment</h2>
        <p class="showcase-lead hidden-xs">
          Find out more about what Osteopathy and Tony O'Brien can do for you.
        </p>
      </div>

      </div>

<!-- Services -->

<section id="services" class="section">
	<div class="container">
		<h2 class="section-head">
			Services
		</h2>
    <hr>
		<p class="lead">With therapy sessions avaialable in Dublin, Ireland and Tavira, Portugal, services can be beneficial for more than just broken bones or burns. Many injuries and conditions will benefit from osteopathic treatment:
			<ul>
				<li>Sports or work injuries: acute strains, sprains, pulled muscles</li>
				<li>Chronic injuries: low back pain, upper back pain, shoulder and neck pain</li>
				<li>Postural strains: both acute and chronic such as repetitive strain injuries</li>
				<li>TMJ (jaw) strains</li>
				<li>Poor lymphatic drainage</li>
				<li>Sinus problems: both acute and chronic</li>
				<li>Injuries incurred from birth and birthing</li>
				<li>Whiplash and whiplash-related injuries</li>
			</ul>
		</p>
	</div>
</section>

<!-- What to Expect -->

<section id="expect" class="section">
  <div class="container">
    <h2 class="section-head">
			What To Expect
		</h2>
    <hr>
    <h3>After making an appointment, you can always expect the following from your Osteopath</h3>
    <br>
    <div class="subSection">
      <img src="/images/checked.png" alt="">
      <br>
      <h3>Full case history</h3>
      <div class="description">
        <hr>
        When you first visit an osteopath a full case history will be taken
      </div>
    </div>
    <div class="subSection">
      <img src="/images/loupe.png" alt="">
      <br>
      <h3>Find Weaknesses</h3>
      <div class="description">
        <hr>
        Then I will ask you to perform a simple series of movements. Using a highly developed sense of touch, called palpation, I will identify points of weakness, imbalance, or excessive strain throughout the body.
      </div>
    </div>
    <div class="subSection">
      <img src="/images/eye.png" alt="">
      <br>
      <h3>Additional Tests</h3>
      <div class="description">
        <hr>
        I may need additional medical investigations such as x-rays. This allows for appropriate diagnosis and a suitable treatment plan to be developed.
      </div>
    </div>
  </div>
</section>

<!-- What is Osteopathy -->

<section id="what-is" class="section">
  <div class="container">
    <h2 class="section-head">What is Osteopathy</h2>
    <hr>
    <p class="lead">
      <img src="/images/whatisosteopathy_pic2.jpg" alt="" class="hidden-xs">
      Osteopathy is an established natural health care system which deals with the structure of the body and how it works. The structure of the body would include the bones, joints, ligaments, muscles, nerves, blood vessels and connective tissues. If the structure of the body is misaligned, stuck or dysfunctional in any way, then the body cannot work properly. This would lead to poor health and disease. Adjusting these structural problems leads to better function and health.
      <br><a href="/what-is" class="btn btn-info">Find out More...</a>
    </p>
  </div>
</section>
<section id="about" class="section">
  <div class="container">
    <h2 class="section-head">About Tony O'Brien</h2>
    <hr>
    <p class="lead">
      <img src="/images/tony_image.jpg" alt="" class="hidden-xs">
      Having graduated from the Irish College of Classical Osteopathy in 2003 I have worked at The Littlejohn Centre  in Dublin.
      I have had my own private practice at the clinic but I have also worked as part of the Family and Children's clinic there.
      <br><a href="/about" class="btn btn-info">Find out More...</a>
    </p>
  </div>
</section>
      </div>
</div>
