{{!< default}}
<div id="what-is-showcase">
</div>

<section id="what-is" class="section">
  <div class="container">
    <h2 class="section-head">What is Osteopathy</h2>
    <hr>
    <p class="lead">
      <img src="/images/whatisosteopathy_pic2.jpg" alt="" class="hidden-xs">
      Osteopathy is an established natural health care system which deals with the structure of the body and how it works. The structure of the body would include the bones, joints, ligaments, muscles, nerves, blood vessels and connective tissues. If the structure of the body is misaligned, stuck or dysfunctional in any way, then the body cannot work properly. This would lead to poor health and disease. Adjusting these structural problems leads to better function and health.
<br>
<br>
      For example, the nerves from the spinal cord leave the bony spine to supply and regulate all of our organs (e.g. intestines, stomach, kidney, heart, lungs), muscles, joints and tissues and blood vessels. Any interference of these nerves leaving the spine will lead to abnormal function and disease. Sciatica which is nerve pain down the back of the thigh and into the leg and foot is a good example of this. When the sciatic nerve gets irritated because of an injury to the lower back, this can cause pain and numbness down the leg. Symptoms of heart-burn, irritable bowel, painful periods and a whole host of symptoms may be experienced depending on the area of the spine that is affected. Adjusting the spine allows the nerves to function properly and leads to a healthier body and a reduction of symptoms.
<br><br><img src="/images/back-doctor.jpg" alt="" class="hidden-xs">
So what can affect the structure of the spine? Physical, mental, emotional and environmental stresses can all affect the spine. Previous accidents or broken bones, awkward lifting, or an excessively demanding lifestyle can place stresses on the spine. As osteopaths we believe that an holistic approach is necessary to treat a person in order to achieve health. The osteopath is not only interested in what is painful or diseased, but what the causes are for these symptoms.
<br><br>
The osteopath is also Generic Viagra interested in the body’s innate ability to heal itself, and identifying stresses that are preventing the body from getting better? A mother who has just given birth will spend most of her energy caring for the baby. Very little energy is available to spend on her own healing. Osteopathy can offer that extra little help in recovery which can be highly effective in the early stages after childbirth.
<br><br>
Diet also plays a major role influencing a person’s health. Diets that lack raw fruit and vegetables and are full or processed foods, coffees, teas and alcohol will reduce your health and limit your healing ability. Poor diet can aggravate mucous production leading to congestion of the lungs and sinuses. Evidence has shown that painful joints and back ache is also affected by poor diet. Correct dietary changes can have permanent and long lasting benefits for many ailments including arthritic conditions.
<br><br>
The osteopathic approach has a multitude of benefits, including being pain free, feeling healthier, having more energy and at the same time feeling calmer. If you are taking painkillers for backache you are only masking the pain. You may feel relief but, is the cause being tackled? Spinal misalignment, stiffness or muscle tension may be leading to back ache. If these are not dealt with and painkillers are continually used, this lead to some serious side effects but does nothing to correct the underlying causes. In the long term, the condition worsens. The osteopath can address the misalignment, stiffness and muscle tension by using gentle manipulation and soft tissue work along the spine and body. The osteopath will try to help you identify what stresses are aggravating the back ache. This will allow you to take some control of your health and not be a victim of the pain.
    </p>
  </div>
</section>
